.row-padding {
  padding-bottom: 10px;
}

.containerClass {
  margin-top: 3%;
}

.rightDisplay {
  margin: 0 0 0 auto;
}

.navDisplay {
  color: white;
}

.clearButton {
  padding-bottom: 2%;
  text-align: center;
}
